@model SuperAdminRoleViewModel

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <p class="p-rigth">
                        <a data-toggle="modal" data-target="#postmodel" href="#postmodel" class="btn btn-primary">
                            <span class="fa fa-edit"> Yeni</span>
                        </a>
                    </p>
                    <table id="example" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].Id)</th>
                                <th>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].Menu.Url)</th>
                                <th>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].Role.RoleName)</th>
                                <th>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].StatusId)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.RoleAuthorizations.Count; i++)
                            {
                                <tr>
                                    <td>@Model.RoleAuthorizations[i].Id
                                    <td>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => Model.RoleAuthorizations[i].MenuId, new SelectList(ViewBag.MenuId, "Id", "Url", Model.RoleAuthorizations[i].MenuId), null, htmlAttributes: new { @class = "form-control", @disabled = "true", @id = "menu", data_bind = @Model.RoleAuthorizations[i].Id })
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            @Html.DropDownListFor(model => Model.RoleAuthorizations[i].RoleId, new SelectList(ViewBag.RoleId, "Id", "RoleName", Model.RoleAuthorizations[i].RoleId), null, htmlAttributes: new { @class = "form-control", @disabled = "true", id = "role", data_bind = @Model.RoleAuthorizations[i].Id })
                                        </div>
                                    </td>
                                    <td>@Model.RoleAuthorizations[i].StatusId</td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="@("#resultmodal" +Model.RoleAuthorizations[i].Id)" href="@("#resultmodal" +Model.RoleAuthorizations[i].Id)">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a id="editlist" class="btn btn-info btn-sm" data_bind="@Model.RoleAuthorizations[i].Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a id="saveList" class="btn btn-info btn-sm" style="display:none;" data_bind="@Model.RoleAuthorizations[i].Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Kaydet
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteRoleAuthorizations","AppRole", new { ID = Model.RoleAuthorizations[i].Id})">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@foreach (var rolemodal in (List<RoleAuthorization>)Model.RoleAuthorizations)
{
    <div class="modal fade bd-example-modal-lg" id="@("resultmodal" +rolemodal.Id)" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Rol Yetkilendirme</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body ml-5">
                    <p>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].MenuId) : @Model.Menus.Where(x => x.Id == rolemodal.MenuId).First().Url</p>
                    <p>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].StatusId) : @Model.Roles.Where(x => x.Id == rolemodal.RoleId).First().RoleName</p>
                    <p>@Html.DisplayNameFor(model => model.RoleAuthorizations[0].StatusId) : @rolemodal.StatusId</p>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade bd-example-modal-lg" id="postmodel" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Rol Yetkilendirme Ekle</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body ml-12">
                <div class="form-group col-lg-12">
                    <div class="form-group">
                        <label>Role :</label>
                        @Html.DropDownList("RoleId", new SelectList(ViewBag.RoleId, "Id", "RoleName", Model.UserRoles), null, htmlAttributes: new { @class = "form-control", @id = "postrole" })
                    </div>
                    <div class="form-group">
                        <label>Menu :</label>
                        @Html.DropDownList("MenuId", new SelectList(ViewBag.MenuId, "Id", "Url", null), null, htmlAttributes: new { @class = "form-control", @id = "postmenu" })
                    </div>
                    <label>Statü :</label>
                    <input class="form-control" type="text"
                           id="poststatu" />
                </div>
                <a id="postmodel" href="#" class="btn btn-primary float-right">Kaydet</a>
            </div>
        </div>
    </div>
</div>

<script>$(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
        });
    });
    $('a#editlist').on('click', function () {
        var inputDataId = $(this).attr('data_bind');
        debugger;
        $(this).hide();
        $("#saveList[data_bind='" + inputDataId + "']").show();
        $("select[data-bind='" + inputDataId + "']").removeAttr('disabled');
    });

    $('a#saveList').on('click', function () {
        debugger;
        var inputDataId = $(this).attr('data_bind');
        $(this).hide();
        $("a#editlist[data_bind='" + inputDataId + "']").show();
        $("select[data-bind='" + inputDataId + "']").attr('disabled', 'true');
        var menuId = $("select#user[data-bind='" + inputDataId + "']").val();
        var roleId = $("select#role[data-bind='" + inputDataId + "']").val();
        $.post(location.origin + "/superadmin/roleauthorizationsedit", {
            Id: inputDataId,
            MenuId: menuId,
            RoleId: roleId
        }, function (data) {
            if (data == "Başarılı!")
                createAlert('', data, 'Düzenleme işlemi başarılı şekilde gerçekleşti', 'success', true, true, 'pageMessages');
            else
                createAlert('Hata', data, 'Düzenleme işlemi başarısız şekilde gerçekleşti', 'danger', true, false, 'pageMessages');
        });
    })

    $('a#postmodel').on('click', function () {
        debugger;
        var roleName = $("select#postrole").val();
        var menuName = $("select#postmenu").val();
        var status = $("input#poststatu").val();
        $.post(location.origin + "/superadmin/roleauthorizationsmodaladd", {
            RoleId: roleName,
            MenuId: menuName,
            StatusId: status
        }, function (data) {
            if (data == "Başarılı!") {
                createAlert('', data, 'Ekleme işlemi başarılı şekilde gerçekleşti', 'success', true, true, 'pageMessages');
                location.reload();
            }
            else
                createAlert('Hata', data, 'Ekleme işlemi başarısız şekilde gerçekleşti', 'danger', true, false, 'pageMessages');
        });
    })</script>