@model SuperAdminRoleViewModel

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <p class="p-rigth">
                        <a data-toggle="modal" data-target="#postmodel" href="#postmodel" class="btn btn-primary">
                            <span class="fa fa-edit"> Yeni</span>
                        </a>
                    </p>
                    <table id="example" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.VehicleModels[0].Id)</th>
                                <th>@Html.DisplayNameFor(model => model.VehicleModels[0].ModelName)</th>
                                <th>@Html.DisplayNameFor(model => model.VehicleModels[0].Description)</th>
                                <th>@Html.DisplayNameFor(model => model.VehicleModels[0].StatusId)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.VehicleModels.Count; i++)
                            {

                                <tr>
                                    <td id="roleid">@Model.VehicleModels[i].Id</td>
                                    <td>
                                        <input type="text"
                                               readonly
                                               id="brandName"
                                               data-id="@Model.VehicleModels[i].Id"
                                               value="@Model.VehicleModels[i].ModelName"
                                               asp-for="@Model.VehicleModels[i].ModelName" style="background: none; color: black; background-color: transparent; border: 0px solid; width: 100%; height: 100%; " />
                                    </td>
                                    <td>
                                        <input type="text"
                                               readonly
                                               id="description"
                                               data-id="@Model.VehicleModels[i].Id"
                                               value="@Model.VehicleModels[i].Description"
                                               asp-for="@Model.VehicleModels[i].Description" style="background: none; color: black; background-color: transparent; border: 0px solid; width: 100%; height: 100%;" />
                                    </td>
                                    <td>
                                        <input type="text"
                                               readonly
                                               id="status"
                                               data-id="@Model.VehicleModels[i].Id"
                                               value="@Model.VehicleModels[i].StatusId"
                                               asp-for="@Model.VehicleModels[i].StatusId" style="background: none; color: black; background-color: transparent; border: 0px solid; width: 100%; height: 100%;" />
                                    </td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="@("#resultmodal" +Model.VehicleModels[i].Id)" href="@("#resultmodal" +Model.VehicleModels[i].Id)">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a id="editlist" class="btn btn-info btn-sm" data-id="@Model.VehicleModels[i].Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                        <a id="saveList" class="btn btn-info btn-sm" style="display:none;" data-id="@Model.VehicleModels[i].Id">
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Kaydet
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteVehicleModel","Vehicle", new { ID = Model.VehicleModels[i].Id})">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@foreach (var rolemodal in (List<VehicleModel>)Model.VehicleModels)
{
    <div class="modal fade bd-example-modal-lg" id="@("resultmodal" +rolemodal.Id)" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Roller</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body ml-5">
                    <p>@Html.DisplayNameFor(model => model.VehicleModels[0].ModelName) : @rolemodal.ModelName</p>
                    <p>@Html.DisplayNameFor(model => model.VehicleModels[0].Description) : @rolemodal.Description</p>
                    <p>@Html.DisplayNameFor(model => model.VehicleModels[0].StatusId) : @rolemodal.StatusId</p>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade bd-example-modal-lg" id="postmodel" tabindex="-1" role="dialog" aria-labelledby="instructionsLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Araç Marka Ekle</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body ml-12">
                <div class="form-group col-lg-12">
                    <label>Model Adı : </label>
                    <input type="text" class="form-control"
                           id="postvehiclemodelname" />
                </div>
                <div class="form-group col-lg-12">
                    <label>Açıklama : </label>
                    <input type="text" class="form-control"
                           id="postdescription" />
                </div>
                <div class="form-group col-lg-12">
                    <label>Statü :</label>
                    <input type="text" class="form-control"
                           id="poststatu" />
                </div>

                <a id="postmodel" href="#" class="btn btn-primary float-right">Kaydet</a>
            </div>
        </div>
    </div>
</div>
<script>$(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
        });
    });

    $('a#editlist').on('click', function () {
        var inputDataId = $(this).data('id');
        debugger;
        $(this).hide();
        $("#saveList[data-id='" + inputDataId + "']").show();
        $("input[data-id='" + inputDataId + "']").removeAttr('readonly');
        $("select[data-bind='" + inputDataId + "']").removeAttr('disabled');
    });

    $('a#saveList').on('click', function () {
        debugger;
        var inputDataId = $(this).data('id');
        $(this).hide();
        $("a#editlist[data-id='" + inputDataId + "']").show();
        $("input[data-id='" + inputDataId + "']").attr('readonly', 'readonly');
        $("select[data-bind='" + inputDataId + "']").attr('disabled', 'true');
        var brandName = $("input#brandName[data-id='" + inputDataId + "']").val();
        var status = $("input#status[data-id='" + inputDataId + "']").val();
        var description = $("input#description[data-id='" + inputDataId + "']").val();
        $.post(location.origin + "/vehicle/vehiclemodeledit", {
            Id: inputDataId,
            ModelName: brandName,
            Description: description,
            StatusId: status,
        }, function (data) {
            if (data == "Başarılı!")
                createAlert('', data, 'Düzenleme işlemi başarılı şekilde gerçekleşti', 'success', true, true, 'pageMessages');
            else
                createAlert('Hata', data, 'Düzenleme işlemi başarısız şekilde gerçekleşti', 'danger', true, false, 'pageMessages');
        });
    })
    $('a#postmodel').on('click', function () {
        debugger;
        var postmodelname = $("input#postvehiclemodelname").val();
        var description = $("input#postdescription").val();
        var status = $("input#poststatu").val();
        $.post(location.origin + "/vehicle/vehiclemodelmodaladd", {
            ModelName: postmodelname,
            Description: description,
            StatusId: status
        }, function (data) {
            if (data == "Başarılı!") {
                createAlert('', data, 'Ekleme işlemi başarılı şekilde gerçekleşti', 'success', true, true, 'pageMessages');
                location.reload();
            }
            else
                createAlert('Hata', data, 'Ekleme işlemi başarısız şekilde gerçekleşti', 'danger', true, false, 'pageMessages');
        });
    })</script>